

body {
    margin-top: 250px;
    height: 100vh;
    background-image: url('https://png.pngtree.com/png-clipart/20190515/original/pngtree-light-effect-blue-circle-png-image_3552533.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.s1 {
    margin-bottom: 10px;
    margin-left: 250px;
}

input {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid aquamarine;
    border-radius: 2px;
    text-align: center;
}

label {
    display:inline-block;
    width: 150px;
    text-align: left;
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif
}

